.picture {
  width: 100%;
}
.items {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.items p,
.items address
 {
  padding-block: 10px;
}

.items .button{
    margin-block: 20px;
}

.button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 13px;
  border-radius: 10px;
  color: purple;
  border: 1px solid purple;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}


.button:hover{
    background-color: purple;
    color: white;
}